.app {
  background-image: url(./chess.jpg);
}

.chessboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: antiquewhite;
}

.timebutton {
  background-color: rgb(208, 255, 208);
  color: black;
  border-color: rgb(208, 255, 208);
  font-family: Meath;
  font-size:30px;
  margin-right: 5px;
}


.title {
  font-family: Canterbury;
  letter-spacing: 2px;
  font-size: 60px;
}

.timer-container {
  margin-top: 10px;
}

.inputtimer{
  width:78px;
  margin-right: 10px;
}


h2{
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 5px;
}

@font-face {
  font-family: 'Canterbury';
  src: url('./Canterbury.ttf');
}

@font-face {
  font-family: 'Meath';
  src: url('./MeathFLF.ttf');
}

@font-face {
  font-family: 'Paladin';
  src: url('./PaladinFLF.ttf');
}

.chess-button {
  font-family: Meath;
}

.chess-button:nth-child(1) {
  background-color: rgb(208, 255, 208);
  color: black;
  border-color: rgb(208, 255, 208);
  font-size: 40px;
  margin-right: 20px;
}
.chess-button.active:nth-child(1) {
  background-color: rgb(24, 210, 24);
  color: black;
  border-color: rgb(24, 210, 24);
}

 .chess-button:nth-child(2) {
  color: black;
  font-size: 40px;
  border-color: rgb(208, 255, 208);
  background-color: rgb(208, 255, 208);


}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-gap: 2px;
  margin-left: 30px;

  background-color:#fcedf1}

.square {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #ccc;
}

.highlighted {
  background-color: lightgreen !important;
}

.chess-piece {
  font-size: 4rem; 
  font-family: Arial, sans-serif; 
  
}
.chess-piece img {
  width: 3rem; 
  height: 3rem; 
}

.player-turn {
  font-family: Meath;
  font-size: 80px;  
  /* WHY ISNT THE SIZE WORKING??? */
}

.taken-pieces-list {
  font-family: Canterbury;
  display: flex;       
  flex-direction: row; 
  flex-wrap: wrap;     
  justify-content: flex-start;
  align-items: center;

  justify-content: center;
}

.taken {
  font-family: Canterbury;
  letter-spacing: 1px;
}


.taken-piece {
  font-family: Canterbury;

}

.custom-modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.flash-alert {
  position: fixed;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px 50px;
  border-radius: 5px;
  font-size: 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 999;
  
}

.flash-alert.visible {
  opacity: 1;
}


/* .header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  transition: transform 0.5s ease-in-out;
}

.header.visible {
  transform: translateX(0);
} */


@media (max-width: 768px) {
  .chessboard {
    grid-template-columns: repeat(8, 35px); 
    margin-left: 12px;
  }

  .square {
    width: 35px; 
    height: 35px; 
    font-size: 18px; 
  }

  .chess-piece {
    font-size: 2rem; 
  }

  .chess-piece img {
    width:2rem; 
    height:2rem; 
  }
  .flash-alert {
    position: fixed;
    top: 0px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 999;
    
  }

  .title {
    font-family: Canterbury;
    letter-spacing: 2px;
    font-size: 40px;
  }

  h2{
    font-size: 30px;
  }

  .timer-container {
    margin-top: 20px;
  }
  
}